@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
* {
    font-family: Poppins;
}

body {
    background-color: #222222;
}

.logolink,
.homelink {
    align-items: center;
    display: flex;
    max-width: 1250px;
    margin: 0 auto;
    margin-top: 62px;
}

.logolink a,
.homelink a {
    color: #DEBF79;
    text-decoration: none;
    font-weight: bold;
    margin-left: auto;
    font-size: 18px;
}

.content {
    align-items: center;
    display: flex;
    max-width: 1275px;
    margin: 0 auto;
}

.contentblock {
    background-color: white;
    border-radius: 3px;
    display: flex;
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    text-align: center;
    transition: 700ms ease-in-out;
}

.contentblock p {
    color: #858585;
    font-size: 14px;
    line-height: 25px;
    text-align: justify;
    margin-bottom: 30px;
}

.contentblock h2 {
    font-size: 36px;
    font-weight: bold;
    margin-top: 150px;
    margin-bottom: 0;
    text-align: justify;
}

.contentblock img {
    position: absolute;
    margin-left: -48px
}

.rabbit img {
    margin-top: 55px;
    margin-left: -52px;
}

.talkie img {
    margin-top: 25px;
    margin-left: -28px;
}

.shield img {
    margin-top: 40px;
}

.talkie,
.rabbit,
.shield {
    padding: 0 55px;
}

.contentblock a {
    color: white;
    background-color: #DEBF79;
    font-size: 14px;
    text-decoration: none;
    padding: 13px 26px;
}

.contentblock a:hover {
    background-color: black;
    transition: 450ms ease-out;
    cursor: pointer;
}

.contentblock a:active {
    background-color: rgb(255, 255, 255);
    color: black;
    border: solid 1px black;
    transition: 0ms;
}

.contentblock a::selection {
    user-select: none;
}

.contentblock:hover {
    box-shadow: 7px 7px #858585;
    transition: 450ms ease-in-out;
}

.notfound {
    text-align: center;
    border: solid black 2px;
    width: 500px;
    height: 500px;
    background-color: rgb(94, 94, 94);
    margin: auto;
    color: white;
    border-radius: 4px;
    transition: 450ms ease-in;
}

.notfound:hover {
    transition: 450ms ease-in;
    box-shadow: 7px 7px #141414;
}

.notfound h1 {
    border-bottom: rgb(255, 0, 0) 4px solid;
    margin: 40px 130px;
    transition: 700ms ease-in-out;
}

.notfound h1:hover {
    margin: 40px 110px;
    transition: 450ms ease-out;
}

.notfound p {
    font-size: 20px;
    margin: 0px 60px;
    margin-bottom: 100px;
}

.notfound a {
    font-size: 20px;
    background-color: #DEBF79;
    color: white;
    text-decoration: none;
    padding: 12px 23px;
}

.notfound a:hover {
    background-color: black;
    transition: 450ms ease-out;
}

.notfound a:active {
    background-color: white;
    transition: 0ms;
    color: black;
}

.error {
    margin-top: 60px;
}

.jslist p,
.jslist button,
.jslist h1 {
    display: inline;
}

.jslist {
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    margin-top: 60px;
}

.jslist h1 {
    font-size: 48px;
}

.heading {
    border-bottom: #DEBF79 solid 4px;
    padding-bottom: 2px;
}

.jslist p {
    line-height: 30px;
}

.jslist button {
    color: #DEBF79;
    background: none;
    border: none;
    padding: 0!important;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}